<section class="grid grid-2col">
  <div class="resource flex-group-center">
    <label class="resource-label">Electric Sample Field</label>
    <input type="text" name="system.electric.sample" value="{{system.electric.sample}}" />
  </div>
</section>
