<section class="grid grid-2col">
  <div class="resource flex-group-center">
    <label class="resource-label">Organic Sample Field</label>
    <input type="text" name="system.organic.sample" value="{{system.organic.sample}}" />
  </div>
</section>
