<section class="grid grid-2col">
  <div class="resource flex-group-center">
    <label class="resource-label">Hydro Sample Field</label>
    <input type="text" name="system.hydro.sample" value="{{system.hydro.sample}}" />
  </div>
</section>
